<!DOCTYPE html>
<html>
<head>
  <h1>Welcome!</h1>
    <h3>You are now logged in to the Motivational Quotes Websites!</h3>
    <h4>Your user name is <%=@user.username%>!</h4>
</head>

<body>
  <a href="/posts/index">View All Posts</a><br>
  <br>
  <a href="/users/logout">Log Out</a>
</body>

</html>
