<!DOCTYPE html>
<html>

<head>
  <h2>Welcome New User</h2>
</head>

  <body>
    <h3>Sign Up</h3>
      <form action="/users/signup" method="POST">
        <p>Name: <input type="text" name="username"></p>
        <p>Password: <input type="text" name="password"></p>
        <input class="btn btn-primary" type="submit">
    </form>
  </body>

</html>
