<!DOCTYPE html>
<html>

<head>
  <h2>Welcome New User!</h2>
  <h3>Please enter a user name and password to sign up!</h3>
</head>

  <body>
    <h3>Sign Up Form</h3>
      <form action="/users/signup" method="POST">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="text" name="password"></p>
        <input class="btn btn-primary" type="submit">
    </form>
  </body>

</html>
