<!DOCTYPE html>
<html>

<h1>Edit Post : <%= @post.title %></h1>

<form action="/posts/<%=@post.id%>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="title" placeholder="Add New Title Here">
  <input type="text" name="content" placeholder="Add New Content Here">
  <input type="submit" value="Update">
</form>

<br>
<button><a href="/users/show">Back to My Posts</a></button>

</html>
