<!DOCTYPE html>
<html>
<head>
  <h1>Check Out All Motivational Quotes and Stories!</h1>
<body>
  <ol><%Post.all.each do |post|%>
  <li><a href="/posts/:<%=post.id%>"><%=post.title%></a></li>
  <%end%>

  <br>

  <button><a href="/users/show">Back to My Posts</a></button>
<br>
<br>
  <button><a href="/users/logout">Log Out</a></button>



</body>

</html>
