<!DOCTYPE html>
<html>
<head>
  <h1>Your Motivational Quotes and Stories!</h1>
<body>
  <ol>
  <%@posts.each do |post|%>
  <li><%=post.title%><li>
  <%end%>
</ol>

  <a href="/posts/new">Create A New Post!</a>

</body>

</html>
