<h1>Welcome to Motivational Quotes!</h1>

<p>This is site where you can read and submit motivational quotes or stories <br>
  about lessons or life to help re-ignite the fire that once may have burned out.</p>
