<!DOCTYPE html>
<html>
<head>

<h1>Welcome to Motivational Quotes!</h1>
</head>

  <body>



    Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.

    <form method="post" action="/users/login" >
    <input type="Submit" value="Log In"><form>

    <form method="post" action="/users/signup" >
    <input type="Submit" value="Sign Up"></form>

  </body>
</html>
