<!DOCTYPE html>
<html>
<head>

<h1>Welcome to Motivational Quotes!</h1>
</head>

  <body>

    <p>Have you fallen off the path and lost that fire that once kept you going? Well you're in the right place now!<br>
      This is a safe space where you can read motivational quote to re-ignite that fire. You can also share your own <br>
      story to help others find that motivation. <br></p>

    <p>Sign up or Log in below to take a step forward and get that fire back!</p>

    <form method="post" action="/users/login" >
    <input type="Submit" value="Log In"><form>

    <form method="post" action="/users/signup" >
    <input type="Submit" value="Sign Up"></form>

  </body>
</html>
