<!DOCTYPE html>
<html>
<head>
<h1>Sorry this post does not belong to you! Please edit your own posts.</h1>
</head>
<body>
  <button><a href="/users/show">Back to My Posts</a></button>
</body>

</html>
